.header-container {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #00ffff;
    
}

hr {
    margin: 0px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
    background-image: url('../assets/hxh.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container>button {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: "Poppins", sans-serif;
    height: 25px;
    border-radius: 10px;
    background: #4285F4;
}

.nav-container>button:hover {
    background: gold;
}

.section-container {
    /* font-family: Arial, Helvetica, sans-serif padding-top: 48px; */
    padding-bottom: 24px;
}

.section-container>header {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.section-content-container {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.section-content-container>div {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;
}

h1 {
    text-align: center;
}

h4 {
    text-align: left;
}

h5 {
    text-align: left;
    margin-left: 30px;
}


p {
    text-align: center;
    padding-bottom: 10px;
}

label {
    float: left;
    margin-left: 10px;
}

.input {
    height: 24px;
    width: 98%;
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    margin: 5px auto;
    margin-bottom: 1rem;
}


.tombol {
    width: 100%;
}

.custom {
    display: inline-block;
    background: #4285F4;
    color: #fff;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Poppins", sans-serif;
    margin: 2rem 0;
}

.custom:hover {
    background: gold;
}

.custom-select {
    position: relative;
    display: inline-flex;
}

.custom-select select {
    display: inline-block;
}

.custom-select:after {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-select select {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
}

.custom-select select:focus {
    outline: none;
}

.custom-select select option {
    padding: 8px;
}

.custom-select select option:hover {
    background-color: #f4f4f4;
}

.banner-container {
    height: auto;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
    padding-bottom: 10px;
}

.banner-slide {
    display: flex;
    position: x relative;
}

.img-slidebanner {
    width: 100%;
    height: 300px;
    transition: transform 0.5s ease;
    padding-bottom: 5px;
}

.btnprev,
.btnnext {
    float: left;
    font-family: "Poppins", sans-serif;
}

.review-container {
    display: flex;
    justify-content: start;
    align-items: left;
    flex-direction: column;
}

.review {
    max-width: 800px;
    /* Lebar maksimum kontainer */
    margin: 0 auto;
    /* Pusatkan kontainer */
    padding: 0 20px;
    /* Padding di sisi */
}

.customer-photo {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.customer-photo img {
    max-width: 100%;
    height: auto;
    /* border-radius: 50%; */
}

.customer-info h3 {
    /* position:relative;
    padding-top: 0px;
    text-align: left; */
    /* flex: 1; */
    display: flex;
    margin-top: 10px;
}

.customer-info h4 {
    /* position:relative;
    padding-top: 0px;
    text-align: left; */
    display: flex;
    margin-top: 10px;
}

.customer-info p {
    /* position: relative; */
    /* padding-top: 0px; */
    /* text-align: left;
    padding: auto; */
    display: flex;
    margin-top: 10px;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

    .numbered-list {
        list-style-type: none;
        padding: 0;
        font-family: "Poppins", sans-serif;
      }
      
      .numbered-list li {
        display: flex;
        margin-bottom: 10px;
      }
      
      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #007bff;
        color: #fff;
        text-align: center;
        line-height: 50px;
        margin-right: 10px;
      }
      
      .point {
        flex: 1;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      body {
        /* font-family: Arial, sans-serif; */
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
      }
      
      .travel-container {
        width: 100%;
        margin: 10px auto;
      }
      
      .row {
        display: flex;
        margin-bottom: 20px;
      }
      
      .column {
        flex: 1;
        padding: 0 5px;
      }
      
      .section {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
      }
      
      h2 {
        margin-top: 10px;
        font-size: 1.5em;
      }
      
      p {
        font-size: 1em;
      }
      
      .img-travel {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
      }
      
.closing {
    height: 100px; 
    width: 100%; 
    background-color: transparent; 
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.custom-button {
    display: inline-block;
    background: #4285F4;
    color: #fff;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.custom-button:hover {
    background: gold;
}

.footer {
    margin: 200px;
    font-family: "Poppins", sans-serif;
}

